h1{font-family: Arial;
font-size: 150%;
font-weight: Bold;
font-style: italic;
font-stretch: expanded;
color: grey;}
p{font-family: Times New Roman;
font-size: 100%;
font-weight: Light;
font-style: Normal;
font-stretch: Condensed;
color: purple;}
